<div class="modal-header">
    <h3 class="modal-title">Log for {{LogModalCtrl.accessPoint.label}}</h3>
</div>
<div class="modal-body">
    <div class="table-container portlet light">
        <table style="vertical-align: bottom;" class="table table-striped table-bordered">
            <thead style="font-size: 1.2em;">
                <th>Employee</th>
                <th>Card ID</th>
                <th>Security</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </thead>
            <tr ng-repeat="log in LogModalCtrl.logs">
                <td>{{log.access_card.employee.first_name}} {{log.access_card.employee.last_name}}</td>
                <td>{{log.access_card.id}}</td>
                <td>{{log.access_card.security_clearance}}</td>
                <td>{{log.timestamp | date: "mediumDate"}}</td>
                <td>{{log.timestamp | date: "HH:mm:ss"}}</td>
                <td style="width:0"><button style="float:right;" class="btn btn-default" ng-click="LogModalCtrl.deleteLog($index)" popover-placement="left" uib-popover="Delete Log" popover-trigger="mouseenter"><i style="color: #C22F2B;" class="glyphicon glyphicon-remove"></i></button></td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="LogModalCtrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="LogModalCtrl.cancel()">Cancel</button>
</div>
