<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" style="color:#fff;"><span style="font-weight:bold;">Prison Master<span style="color:#8A8A8A">&nbsp;&nbsp;|&nbsp;&nbsp;</span></span>Warden</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="wardenManagePrison">Prison</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="managePrisoners">Prisoners</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="manageEmployees">Employees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
