<div class="modal-header">
    <h3 class="modal-title">Are you sure you want to release {{RelPrisonerModalCtrl.prisoner.first_name}}&nbsp;{{RelPrisonerModalCtrl.prisoner.last_name}}?</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="RelPrisonerModalCtrl.ok()"><i style="color: #2D6CA3;" class="glyphicon glyphicon-log-out"></i>&nbsp;Release</button>
    <button class="btn btn-warning" type="button" ng-click="RelPrisonerModalCtrl.cancel()">Cancel</button>
</div>
